@use '../abstract/variables' as *;

.advice-container {
    position: relative;
    .btn {
        bottom: -8%;
        padding:1rem;
        background: transparent;
        border: none;
        background-color: $clr-p-neon-green;
        border-radius: 50%;
        position: absolute;
        margin: 0 auto;
        svg{
                transform: scale(0.9);
              path {
                fill: $clr-n-dark-blue;
            
            
            }
        }
    }
}
